# Import trends of top paper producing countries

This notebook compares import data from the top paper producing countries, including Brazil. Top countries include China, the United States, Japan, Germany, Brazil, India, South Korea, Indonesia, Sweden, Finland, Russia and Canada, according to forest product statistics published by the United Nations' Food and Agricultural Organization(https://www.fao.org/faostat/en/#data/FO).

Trade data for each country was downloaded from UN Comtrade (https://comtrade.un.org/) using the HS Code 4707 "Waste and scrap of paper and paperboard." Annual data was available to download for 2019, 2018 and 2020. Monthly data for was downloaded for all countries with available 2021 and 2019 data. Rows with the trading partner listed as "World" were removed before analysis. Compared January to April of 2019 to the same period in 2021 due to missing data.

In [2]:
import pandas as pd
pd.set_option('display.max_columns', 1000)
import matplotlib
%matplotlib inline
from datetime import datetime
import numpy as np
import re
import altair as alt
from vega_datasets import data

# 2018 to 2020 Annual Data

In [3]:
brazil = pd.read_csv("Brazil-4707-2018-2020.csv")

In [5]:
canada = pd.read_csv("Canada-4707-2018-2020.csv")

In [7]:
china = pd.read_csv("China-4707-2018-2020.csv")

In [9]:
finland = pd.read_csv("Finland-4707-2018-2020.csv")

In [12]:
india = pd.read_csv("India-4707-2018-2020.csv")

In [14]:
germany = pd.read_csv("Germany-4707-2018-2020.csv")

In [16]:
indonesia = pd.read_csv("Indonesia-4707-2018-2020.csv")

In [18]:
japan = pd.read_csv("Japan-4707-2018-2020.csv")

In [20]:
korea = pd.read_csv("Korea-4707-2018-2020.csv")

In [22]:
russia = pd.read_csv("Russia-4707-2018-2020.csv")

In [24]:
sweden = pd.read_csv("Sweden-4707-2018-2020.csv")

In [26]:
us = pd.read_csv("US-4707-2018-2020.csv")

In [29]:
imports18_20 = pd.concat([us, sweden, russia, finland, brazil, china, india, indonesia, korea, japan, germany, canada])

In [31]:
imports18_20.shape

(1240, 35)

In [32]:
imports18_20.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2018,2018,2018,4,0,1,Import,842,USA,USA,28,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,8,Weight in kilograms,66000,NaN,NaN,NaN,66000.0,NaN,2641,NaN,NaN,0
1,H5,2018,2018,2018,4,0,1,Import,842,USA,USA,76,Brazil,BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,8,Weight in kilograms,22000,NaN,NaN,NaN,22000.0,NaN,33890,NaN,NaN,0
2,H5,2018,2018,2018,4,0,1,Import,842,USA,USA,124,Canada,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,8,Weight in kilograms,693771000,NaN,NaN,NaN,693771000.0,NaN,140965184,NaN,NaN,0
3,H5,2018,2018,2018,4,0,1,Import,842,USA,USA,136,Cayman Isds,CYM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,8,Weight in kilograms,8000,NaN,NaN,NaN,8000.0,NaN,9342,NaN,NaN,0
4,H5,2018,2018,2018,4,0,1,Import,842,USA,USA,156,China,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,8,Weight in kilograms,1515000,NaN,NaN,NaN,1515000.0,NaN,559003,NaN,NaN,0

In [33]:
imports18_20['Weight'] = imports18_20['Netweight (kg)']

In [35]:
totals18_20 = imports18_20.groupby(['Reporter', 'Year']).Weight.sum().reset_index()

In [36]:
totals18_20.head()

  Reporter  Year      Weight
0   Brazil  2018  25141141.0
1   Brazil  2019  21359331.0
2   Brazil  2020  24338949.0
3   Canada  2018    577000.0
4   Canada  2019    464000.0

In [37]:
totals18_20.to_csv("totals-2018-2020")

# 2019 Monthly Data

In [38]:
brazil_19 = pd.read_csv("Brazil-4707-2019.csv")

In [40]:
canada_19 = pd.read_csv("Canada-4707-2019.csv")

In [42]:
finland_19 = pd.read_csv("Finland-4707-2019.csv")

In [44]:
germany_19 = pd.read_csv("Germany-4707-2019.csv")

In [47]:
india_19 = pd.read_csv("India-4707-2019.csv")

In [49]:
japan_19 = pd.read_csv("Japan-4707-2019.csv")

In [51]:
sweden_19 = pd.read_csv("Sweden-4707-2019.csv")

In [53]:
us_19 = pd.read_csv("US-4707-2019.csv")

In [66]:
imports_19 = pd.concat([us_19, japan_19, germany_19, brazil_19, india_19, sweden_19, finland_19, canada_19])

In [68]:
imports_19.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,Partner Code,Partner,Partner ISO,2nd Partner Code,2nd Partner,2nd Partner ISO,Customs Proc. Code,Customs,Mode of Transport Code,Mode of Transport,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,HS,2019,201909,Sep-19,4,0,1,Imports,842,United States of America,NaN,381,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,NaN,4282,NaN,NaN,0
1,HS,2019,201909,Sep-19,4,0,1,Imports,842,United States of America,NaN,124,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,NaN,NaN,NaN,NaN,NaN,NaN,35513000.0,NaN,5104866,NaN,NaN,0
2,HS,2019,201909,Sep-19,4,0,1,Imports,842,United States of America,NaN,524,Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,NaN,2881,NaN,NaN,0
3,HS,2019,201909,Sep-19,4,0,1,Imports,842,United States of America,NaN,484,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,NaN,NaN,NaN,NaN,NaN,NaN,1597000.0,NaN,270283,NaN,NaN,0
4,HS,2019,201909,Sep-19,4,0,1,Imports,842,United States of America,NaN,276,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4707,Waste and scrap of paper and paperboard,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,NaN,7664,NaN,NaN,0

In [69]:
imports_19['Weight'] = imports_19['Netweight (kg)']

In [70]:
totals_19 = imports_19.groupby(['Period','Reporter']).Weight.sum().reset_index()

In [71]:
totals_19

    Period                  Reporter       Weight
0   201901                    Brazil     881554.0
1   201901                    Canada     160000.0
2   201901                   Finland    8125497.0
3   201901                   Germany  384643366.0
4   201901                     India  558152468.0
..     ...                       ...          ...
91  201912                   Germany  330363610.0
92  201912                     India  522288091.0
93  201912                     Japan    6189000.0
94  201912                    Sweden   25977195.0
95  201912  United States of America   36579000.0

[96 rows x 3 columns]

In [72]:
totals_19.to_csv('totals-2019.csv')

# 2021 Monthly Data

In [73]:
brazil_21 = pd.read_csv("Brazil-4707-2021.csv")

In [74]:
brazil_21.shape

(32, 35)

In [75]:
canada_21 = pd.read_csv("Canada-4707-2021.csv")

In [76]:
canada_21.shape

(91, 35)

In [77]:
finland_21 = pd.read_csv("Finland-4707-2021.csv")

In [78]:
finland_21.shape

(133, 35)

In [79]:
sweden_21 = pd.read_csv("Sweden-4707-2021.csv")

In [81]:
sweden_21.shape

(146, 35)

In [82]:
india_21 = pd.read_csv("India-4707-2021.csv")

In [84]:
india_21.shape

(585, 35)

In [85]:
germany_21 = pd.read_csv("Germany-4707-2021.csv")

In [86]:
germany_21.shape

(328, 35)

In [87]:
japan_21 = pd.read_csv("Japan-4707-2021.csv")

In [88]:
japan_21.shape

(31, 35)

In [89]:
us_21 = pd.read_csv("US-4707-2021.csv")

In [90]:
us_21.shape

(49, 35)

In [91]:
imports_21 = pd.concat([us_21, japan_21, germany_21, brazil_21, india_21, sweden_21, finland_21, canada_21])

In [92]:
imports_21.shape

(1395, 35)

In [93]:
imports_21['Weight'] = imports_21['Netweight (kg)']

In [94]:
totals_21 = imports_21.groupby(['Period','Reporter']).Weight.sum().reset_index()

In [95]:
totals_21.head()

   Period Reporter       Weight
0  202101   Brazil    7765587.0
1  202101   Canada      99000.0
2  202101  Finland    4488518.0
3  202101  Germany  405066271.0
4  202101    India  654565671.0

In [96]:
totals_21.to_csv('totals-2021.csv')

# Analysis continued in Excel

Compared total weight of paper scrap imported by each country in 2019 and 2020. Calculated the percent change and divided the 2021 number by the 2019 number to describe the changes. Repeated the same analysis for countries with available data in 2021, but instead compared the period of January to April of both years, according to latest data available for Brazil.